html {
	margin: 0 auto;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	max-width: 1500px;
}

ul {
	list-style: none;
}

/* =================== */
/*      NAVBAR  	   */
/* =================== */

.navbar {
	background-color: #233142;
}

/* =================== */
/*      HEADER  	   */
/* =================== */

header {
    background-image: /*linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),*/ url("../img/storePhotos/headerBackground.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo {
	margin-top: 5%;
}

.header {
	margin-bottom: 20%;
}

h1, h2, h3 {
	font-family: 'Rammetto One', cursive;
	color: #3F72AF;
}

h1 {
	font-size: 7em;
	font-weight: 700;
}

header h2 {
	box-shadow: none;
	background-color: inherit;
}

h2 {
	margin-top: 10px;
	text-align: center;
	
	padding: 20px;
	margin: 20px;
	

}

hr {
	max-width: 800px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center p {
	text-align: center;
}

/* =================== */
/*      DIVIDER  	   */
/* =================== */

.divider:after {
	display: block;
    height: 2px;
    background-color: #2096BA;
    content: " ";/* way to add content through CSS */
    width: 500px; 
    margin: 0 auto; 
    margin-top: 100px; 
 }

/* =================== */
/*      LEARN   	   */
/* =================== */


.learn-section, 
.carousel-section {
	background-color: #f4f4f4;
}

.info {
	font-size: 20px;
	background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 10px 20px #c9c9c9;
    margin: 10px 20px;
	text-align: center;
	font-size: 20px;
}

.learn-section ul {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	padding-left: 0;
}

.learn-section li {
	font-size: 140%;
	flex: default;
	/*flex-basis: auto; */
	justify-content: space-between;
}


/* =================== */
/*      CAROUSEL  	   */
/* =================== */

.carousel-inner > .item > img {
	height: 440px;
	width: 110%;
}

.rotate180 {
	transform: rotate(180deg);
}

.rotate90 {
	transform: rotate(90deg)
}

.carousel-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* =================== */
/*      VIDEO   	   */
/* =================== */

/*.video-section:after,
.learn-more-section:after,
.carousel-section:after {
	display: block;
    height: 2px;
    background-color: #2096BA;
    content: " "; way to add content through CSS 
    width: 500px; 
    margin: 0 auto; 
    margin-top: 100px; 
 }*/

.video-section,
.carousel-section, 
.learn-section,
.about-section {
	padding: 80px 0;
} 

.video-section {
	background-color: rgba(128, 137, 151, 0.09);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* =================== */
/*      LINKS   	   */
/* =================== */

.links-section img {
	width: 100%;
	height: auto;
	margin: 10px;
	justify-content: center;
	padding: 30px;
	margin: 10px;
}

.links-section ul {
	display: flex;
	padding: 80px 0;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
}

.links-section .link  {
	padding: 0;
	width: 50%;
}

.links-section li {
	padding: 10px;
	display: flex;
}

/* =================== */
/*      MAP 	  	   */
/* =================== */

.map {
	padding: 80px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-image: url("../img/storePhotos/superheroBackground.jpg"); */
	background-size: 100% 100%; 
}

.map h2 {
	padding: 0 20px;
}

iframe {
	align-self: center;
	box-shadow: 5px 10px 20px #a9a9a9;
	border: 1px solid #a9a9a9;
	border-radius: 10px;
	cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default;
}


/* =================== */
/*      ABOUT   	   */
/* =================== */

.about-section {
	background-image: /*linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('css/img/ORLDWV0.jpg');*/
	background-size: 60%;
	background-position: bottom;
}

.about-section h2 {
	box-shadow: none;
	background-color: inherit;
}

.about-section {
	background-color: rgba(128, 137, 151, 0.09);
}

.about-section p {
	font-size: 130%;

}

/* =================== */
/*      FORM 		   */
/* =================== */


.form-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 80px 0;
}

.form-section h2 {
	margin-bottom: 0;
	font-size: 150%;
	display: block; 
	box-shadow: none;
	background-color: inherit;
}

.form-section p {
	font-size: 130%;
	text-align:center;
	margin-bottom: 20px;
}



/* =================== */
/*      FOOTER 		   */
/* =================== */

footer {
	background-color: #233142;
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
}

.footer-links,
.resources {
	display: flex;
	margin-top: 10px;
	color: #3F72AF
}

.footer-links li,
.resources li {
	margin: 10px 5px;
}

.resources {
	text-align: center;
	justify-content: flex-end;
	margin-right: 40px;
}

.seperator {
	color: #d2d2d2;
	padding: 5px;
	font-size: 140%;
}

.purchase {
	font-size: inherit;
	color: gray;
} 

.copyright {
	display: flex;
	flex-flow: nowrap;
	justify-content: center;
	color: #f4f4f4;
	font-weight: 100px;
}

.copyright p:nth-child(2) {
	margin-left: 20px;
}








